<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">{{ .Site.Title }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      {{ range $key, $pages := .Site.Taxonomies.topics }}
        <li><a href="/topics/{{ $key |  urlize | lower }}">{{ $key }}</a>
      {{ end }}
    </ul>
    <ul class="right">
      <li><a href="https://twitter.com/share?url={{ .Permalink }}&via=jimmidyson&text={{ .Title }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ .Permalink }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </section>
</nav>
