{{ $baseurl := .Site.BaseUrl }}
<!doctype html>
<html class="no-js" lang="en">
  {{ template "theme/partials/head.html" . }}
  <body>
    {{ template "theme/partials/header.html" . }}
    <section id="main">
      <div class="row">
        <div class="large-12 columns text-center">
          <h1 class="title">{{.Title}}</h1>
          <article class="post text-left">
            <header>
              <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
              <div id="categories">
              {{ range .Params.topics }}
                <a href="{{ $baseurl }}/topics/{{ . | urlize | lower }}"><span class="label">{{ . }}</span></a>
              {{ end }}
              {{ range .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ . | urlize | lower }}"><span class="label secondary">#{{ . }}</span></a>
              {{ end }}
              </div>
            </header>
            <section>
              {{ .Content }}
            </section>
          </article>
          {{ template "theme/partials/comments.html" . }}
        </div>
      </div>
    </section>
    {{ template "theme/partials/footer.html" . }}
  </body>
</html>
