body {
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0625em
}

body>section, body>aside, body>.content, body>footer, #comments {
  line-height: 1.8em
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: capitalize;
  font-weight: 400 !important;
  color: #2c3e50;
}

article > footer {
  text-align: right;
  line-height: 3em;
}

.post-meta {
  font-size: 80%;
  color: #34495e;
}

#main > div > article.post {
  padding: 1em;
}

body>footer {
  margin-bottom: 0;
}

body>footer p {
  font-size: 80%;
  text-align: center;
}

div.highlight {
  line-height: 1em;
}

@media only screen and (min-width: 64.063em) {
  body {
    font-size: 1.25em;
  }

  body p {
    font-size: 1em;
  }

  #main, body>footer {
    margin: 1em 21.42857% 0 21.42857%;
  }

  h1.title {
    margin: 0.25em 0 0.1em;
    font-size: 4em;
  }

  .row {
    max-width: 38em;
  }

}

div.highlight {
  padding:1em;
}
